{% extends "base_public.html" %}
{%block title%}Contacto{%endblock%}
{% block content%}

<div class="conte_login">
    
    <div id="conte_formlog">
        <h1>Contáctanos</h1>
        <form action="{{url_for('contactar')}}" method="POST">
            <div>
                <label for="">Nombre</label>
                <input type="text" name="nombre" placeholder="Nombre" required>
            </div>
            <div>
                <label for="">Correo</label>
                <input type="email" name="correo" placeholder="Correo" required>
            </div>
            <div>
                <label for="">Mensaje</label>
                <textarea name="mensaje"></textarea>
            </div>
            <div>
                <button class="btn-pro">Enviar</button>
            </div>
        </form>
    </div>
</div>

{%endblock%}