{% extends "base.html" %}
{% block content %}    
    
    <main>
        <div class="container">
            <h1>Mi diario personal</h1>
            <p>Aquí escribo huevadas Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repellendus vel laboriosam. Fugit incidunt veniam facere cumque inventore at corporis. Ratione, velit officiis. Eum magnam eveniet dolor sunt, incidunt vitae?</p>
        </div>
        <div class="container">
            <h1>Noseque</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia perspiciatis sequi illo ex sunt unde vel pariatur a aliquam voluptate iure, voluptatum molestiae accusantium ab numquam impedit earum ea? Quos?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium eos magnam, fugit alias tempore earum quidem praesentium, deleniti harum quod, repellat consequuntur maxime quas veritatis dignissimos aut odio sit! Saepe?Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum beatae architecto iste modi aliquam consequatur quasi dolorum nostrum earum aut vel non facere libero magnam, unde doloremque illo explicabo nisi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ea atque totam, cupiditate inventore quo dolorem. Neque maxime, ratione, ex mollitia perferendis vero impedit quo eligendi doloremque asperiores modi tempora?</p>
        </div>
        <div class="container">
            <h1>otronoseque</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus quibusdam voluptates voluptatem quos accusantium pariatur vero repudiandae velit, iste sint. Aliquam perferendis non unde explicabo atque minus, fugiat consequatur ab.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis dicta voluptatibus blanditiis animi aliquid ratione eos corporis sed architecto inventore? Iusto molestiae, mollitia est ipsa aliquam velit inventore modi architecto?</p>
        </div>
        <div class="container">
            <h1>aunotronoseque</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam facere aliquid dolor, autem repellendus quos pariatur voluptate iusto delectus sapiente, culpa architecto at saepe deleniti corporis vitae aliquam sint incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repudiandae illum debitis pariatur officiis omnis voluptatem veritatis earum assumenda eaque nisi velit quia tenetur optio quasi, voluptatum a, fugiat eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolores quidem accusamus, omnis aliquid distinctio nam, enim amet id dicta quo tenetur facere odio quasi voluptatibus possimus earum aliquam asperiores!</p>
        </div>
            <footer class="pie" style="color:white">
            <p class="centrar">Todos los derechos reservados - FocuSpace &copy;2025</p>
            </footer>
    </main>
</body>
{%endblock%}