{% extends "base.html" %}
{%block title%}Iniciar sesión{%endblock%}
{% block content%}

<div>
    <h1>Iniciar sesión</h1>
    <form action="" method="POST">
        <div>
            <label for="">Usuario</label>
            <input type="text" name="usuarios">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        <div>
            <button class="btn-enviar">Iniciar sesión</button>
        </div>
        <div>
            {{mensaje}}
        </div>
    </form>
</div>

{%endblock%}