{% extends "base_public.html" %}
{%block title%}Nosotros{%endblock%}
{% block content%}

<div>
    <h1>¿Quiénes somos?</h1>
    <div>
        <div>
            <h2>Ángela Romero: la perra más perra</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure explicabo distinctio, atque ipsa quisquam dignissimos mollitia error corporis ipsum nulla optio officiis. Excepturi cum optio fugiat aliquam qui perferendis officia!</p>
        </div>
        <div>
            <h2>Cristian Contreras: el bobo más bobo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, laudantium. At, officiis itaque. Recusandae accusamus cum ipsum nam deserunt harum nisi quidem in omnis, nesciunt vero, dolor esse perferendis dicta!</p>
        </div>
    </div>
</div>

{%endblock%}