{% extends "base_public.html" %}
{%block title%}Nosotros{%endblock%}
{% block content%}

<div>
    
    <h1 id="titulo_nosotros">¿Quiénes somos?</h1>
    {% for nosotros in nosotros %}
    <div class="conte_nosotros">
        <div class="conte_nos">
            <div class="conte_nombres">
                <h2>{{nosotros.nombre}} </h2>
                <p>{{nosotros.descripcion}}</p>
            </div>
            <div class="conte_img">
                <img src="{{ url_for('static', filename='img/' + nosotros.foto) }}" alt="{{nosotros.nombre}}">
            </div>
        </div> 
    </div>
    {% endfor%}
</div>

{%endblock%}