{% extends 'base.html' %}
{% block content %}


<body>
  

  <main class="temp">
    
    <div class="temporizador-container">
      <h1 class="titulod">Temporizador</h1>

      <div class="input-container">
        <label for="cycles-input">Ciclos de pomodoro</label>
        <input id="cycles-input" type="number" value="4" min="1">
      </div>

      <div class="row-container clock-container" id="pomodoro_min">
        <h2 id="clock">25:00</h2>
      </div>

      <div class="row-container start-container">
        <button id="start-button" class="btn-pro">Comenzar</button>
      </div>

      <div class="row-container settings-container">
        <div class="input-container">
          <label for="work-time">Concentración</label>
          <input id="work-time" type="number" value="25" min="1">
        </div>
        <div class="input-container">
          <label for="break-time">Descanso</label>
          <input id="break-time" type="number" value="5" min="1">
        </div>
        <div class="input-container">
          <label for="rest-time">Descanso largo</label>
          <input id="rest-time" type="number" value="15" min="1">
        </div>
      </div>
    </div>
  </main>



  <div class="progress-container">
    <div id="progress-bar">
      <span id="progress-text">0%</span>
    </div>
  </div>

  <audio id="alarm-sound" src="static/sonidos/alarma.mp3" preload="auto"></audio>
</body>




{%endblock%}