{% extends "base.html" %}
{%block title%}ToDo{%endblock%}
{% block content%}

<body>
    <h1>Mi ToDo List</h1>

    <!-- Formulario para agregar tarea -->
    <form id="taskForm">
        <input type="text" id="taskTitle" placeholder="Nueva tarea..." required>
        <select id="taskRelevance">
            <option value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
        </select>
        <button type="submit">Agregar</button>
    </form>

    <!-- Lista de tareas -->
    <ul id="taskList"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

{%endblock%}
