<body>
<div id="btn_navbar">
    <div class="btnMenu">
        <button id="btnMenu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </button>
    </div>
    <nav class="barra_nav no_navbar" id="navbar">
        <div class="conte_nav">
            <a href="{{url_for('inicio')}}">
                <img src="../../static/img/organisite2.png" alt="">
            </a>
            <a href="{{url_for('nosotros')}}">Nosotros</a>
            <a href="{{url_for('contacto')}}">Contáctanos</a>
            {% if session['rol'] == 'admin' %} <a href="{{url_for('admin')}}">Admin</a> {%endif%}
        </div>
        <div class="conte_inicio">
            <a href="{{url_for('register') }} ">Registrarse</a>
            {% if session.get('usuario') %}
            <a href="{{url_for('Organizador')}}">Iniciar sesión</a>
            {%else%}
            <a href="{{url_for('login')}}" >Iniciar sesión</a>
            {%endif%}
        </div>
    </nav>
</div>
    {% if index%}
    <div class="fondo_header">
        <div class="conte_header">
            <h1>Organisite</h1>
            <h2>Organiza tu día, tranquiliza tu mente</h2>
            <a href="{{url_for('login')}}">Comenzar</a>
        </div>
        
    </div>

    {% endif %}

    <script src="../../static/js/navbar.js"></script>

</body>
    